@model IEnumerable<HastaneRezerv.Models.Doktor>

@{
    ViewData["Title"] = "View";
}

<style>
    .card {
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 16px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: #fff;
        text-align: center;
        margin-bottom: 20px;
    }

    .card img {
        max-width: 100%;
        height: auto;
        border-radius: 50%;
    }
</style>

<div class="container">
    @if (Model != null)
    {
        <div class="row">
            @foreach (var item in Model) {
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card">
                        <img src="~/image/indir.jpeg" alt="Doctor Image" class="mb-3">
                        <h4>@item.AdSoyad</h4>
                        <p>Ana Bilim Dalı: @(item.AnaBilimDali != null ? item.AnaBilimDali.AnaBilimDaliAdi : "Bilgi Yok")</p>
                        <p>Poliklinik: @(item.Poliklinik != null ? item.Poliklinik.PoliklinikAdi : "Bilgi Yok")</p>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <p>Model verisi null.</p>
    }
</div>
