
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HastaneRezerv</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HastaneRezerv.styles.css" asp-append-version="true" />
</head>
<body>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        .navbar {
            background-color: #333;
            color: #fff;
            padding: 15px;
            text-align: center;
        }

            .navbar a {
                color: #fff;
                text-decoration: none;
                padding: 10px;
                margin: 0 10px;
                font-weight: bold;
                text-transform: uppercase;
            }
            .nav-item {
                list-style-type:none;
            }
            .nav-item a {
                color:red;
            }

    </style>
    <header>

        <div class="navbar">
             <li class="nav-item">
                <a class="nav-link text-danger " asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
             <li class="nav-item">
                <a class="nav-link text-danger" asp-area="" asp-controller="Login" asp-action="Login">Giriş</a>
                        </li>
             <li class="nav-item">
                <a class="nav-link  " asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
            <!-- Diğer navbar öğeleri -->
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - HastaneRezerv - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
