
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HastaneRezerv</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HastaneRezerv.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HastaneRezerv.styles.css?v=1" asp-append-version="true" />

</head>
<body>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        .navbar {
            background-color: #333;
            color: #fff;
            height:75px;
        }

            

        .nav-item {
            list-style-type: none;
        }

        .Continer2 {
              background-color: #333;
            color: #fff;
            height:75px;
        }

    </style>
    
    @{
        var userRole = Context.Request.Cookies["UserRole"];
        var Kullanici = Context.Session.GetString("SessionUsrObject");
        if (Kullanici != null && userRole == "1")
        {
          
                <div class="container Continer2">
                    <div class="row">
                        <div class="col-md-2 .col-12">
                            <li class="nav-item border border-light rounded">
                                <a class="nav-link text-light " asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                        </div>
                    <div class="col-md-2 col-12">
                            <li class="nav-item border border-light rounded">
                                <a class="nav-link text-light " asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                        </div>
                    <div class="col-md-2 col-12">
                            <li class="nav-item border border-light rounded">
                                <a class="nav-link text-light" asp-area="" asp-controller="Login" asp-action="Login">Giriş</a>
                            </li>
                        </div>
                    <div class="col-md-2 col-12">
                            <li class="nav-item border border-light rounded">
                                <a class="nav-link text-light " asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                        </div>
                    <div class="col-md-2 col-12">
                            <li class="nav-item border border-light rounded">
                                <a class="nav-link text-light " asp-area="" asp-controller="Login" asp-action="LogOut">Çıkış</a>
                            </li>
                        </div>
                        <!-- Add more col-md-2 for additional columns -->
                    </div>
                </div>
          
            <div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        }
        else if (Kullanici != null && userRole == "2")
        {

            <div class="container Continer2 ">
                    <div class="row">
                    
                        <div class="col">
                        <li class="nav-item border border-light rounded">
                                <a class="nav-link text-light " asp-area="" asp-controller="Kullanici" asp-action="Index">Kullanici</a>
                            </li>
                        </div>
                        <div class="col">
                        <li class="nav-item border border-light rounded">
                                <a class="nav-link text-light " asp-area="" asp-controller="Doktor" asp-action="Index">Doktor</a>
                            </li>
                        </div>
                        <div class="col">
                        <li class="nav-item border border-light rounded">
                                <a class="nav-link text-light" asp-area="" asp-controller="AnaBilimDali" asp-action="Index">Ana Bilim Dali</a>
                            </li>
                        </div>
                        <div class="col">
                        <li class="nav-item border border-light rounded">
                                <a class="nav-link text-light " asp-area="" asp-controller="Hastane" asp-action="Index">Hastane</a>
                            </li>
                        </div>
                        <div class="col">
                        <li class="nav-item border border-light rounded">
                                <a class="nav-link text-light " asp-area="" asp-controller="Poliklinik" asp-action="Index">Poliklinik</a>
                            </li>
                        </div>
                        <div class="col ">
                        <li class="nav-item border border-light rounded">
                                <a class="nav-link text-light " asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                        </div>
                        <div class="col">
                            <li class="nav-item border border-light rounded">
                                <a class="nav-link text-light " asp-area="" asp-controller="Login" asp-action="LogOut">Çıkış</a>
                            </li>
                        </div>
                        <!-- Add more col for additional columns -->
                    </div>
                </div>
     
            <div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        }
        else
        {
            <div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
            <footer class="border-top footer text-muted">
                <!-- ... (kodunuz) ... -->
            </footer>
        }
    }
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)


</body>
</html>
